{% extends "base.html" %}

{% block title %}
    Flavour 
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<!-- ELEMENT 1: THE BACK 3D LAYER -->


<!-- ELEMENT 2: THE FOREGROUND INTERFACE OVERLAY -->
<div class="glass-effect">
    <div class="div">
        <!-- BRANDING -->
        <img class="master-branding-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="TasteQuest logo">

        <!-- TITLE + BUTTON -->
        <div class="title-and-button-row">
            <div class="title">
                find <br>
                food<br>
                anywhere
            </div>
            <button id="locate-btn" class="cta-button-radar">
                <i data-lucide="search"></i>
                Find Food Near Me 
            </button>
        </div>

        <!-- GLASS RIBBONS -->
        <div class="div-2 glass-ribbon"></div>
        <div class="div-3 glass-ribbon"></div>
        <div class="div-4 glass-ribbon"></div>
        <div class="div-5 glass-ribbon"></div>
        <div class="div-6 glass-ribbon"></div>
        <div class="div-7 glass-ribbon"></div>
    </div>
</div>
<!-- FLAVOUR LOADING OVERLAY -->
<div id="flavour-loading-overlay" class="flavour-loading-overlay">

    <div class="flavour-loader">

        <div class="flavour-bowl">
            <i data-lucide="soup"></i>
        </div>

        <p>Searching....</p>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script> lucide.createIcons() </script>
{% endblock %}
